* {
    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}
.postContainer {
    display: flex;
    border: 3px solid #CCBCA4;
    border-radius: 5%;
    box-shadow: 5px 5px 5px #CCBCA4;
    ;
    flex-direction: column;
    width: 20rem;
    background-color: blanchedalmond;
    margin: 2rem;
}

.postBody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postContainer1 {
    margin: 1rem;
}

.postings {
    font-weight: bold;
}

.postingInfo {
    text-align: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

#contactSeller {
    background-color: green;
    font-size: 1rem;
    color: white;
    height: 2rem;
    width: 9rem;
}
#contactSeller:hover {
    cursor: pointer;
}

header {
    background-color: maroon;
    height: 4rem;
    box-shadow: 5px 5px 5px black;
}

.navLinks {
    display: flex;
    justify-content: center;
    font-size: 30px;

}

a,
a:visited {
    color: white;
    text-decoration: none;
    margin-left: 4rem;
    margin-top: .75rem;
}

a:hover {
    text-decoration: underline;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
    color: #F1F1F2;
    position: relative;
    width: 400px;
    height: 600px;
    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

.inputDiv {
    padding-bottom: 2rem;
    text-align: center;
    margin: auto;
}

.submit {
    color: #707075;
    transition: color 300ms;
    height: 50px;
    font-size: 27px;
    border-radius: 5%;
    border: none;
}

.submit:focus {
    color: #f2f2f2;
}

.submit:active {
    color: #d0d0d2;
}

label {
    color: #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
}
.userorpass {
    height: 2rem;
    border: none;
    background-color: #474A59;
    width: 200px;
    border-bottom: 2px solid #707075;
}

.inputLabel {
    color: white;
    font-size: 20px;
    padding-bottom: 1rem;
}

body {
    background-color: whitesmoke;
}

.createNewPost {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0, 0, 0, 0.22);
    border-radius: 5%;
    color: #F1F1F2;
    position: relative;
    width: 400px;
    height: 600px;
    font-family: 'Charis SIL', serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Ubuntu', sans-serif;
}

.addAPost {
    color: white;
    background-color: black;
}
#linkToSPV {
    color: black;
    margin-left: 0;
}
#linkToSPV {
    height: 2rem;
    width: 9rem;
}

#linkToSPV:hover {
    text-decoration: underline;
    color: blue;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }







